.App {
  text-align: center;
}

/* page/content-related classes */
.page-wrapper {
  width: 70%;
  min-width: 500px;
  max-width: 1000px;
  margin: auto;
}
.page-title {
  font-weight: 500;
  font-size: 4.2em;
  margin-top: 2rem;
}
.section-title {
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: 1rem;
  margin-top: 0.75rem;
}
